---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";
import Program from "@/components/program/Program";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Programme</h1>
		<p>
      Le cycle de conférences et d'ateliers se déroulera du 1er
      février au 30 juin 2024 à Epitech Lyon.
		</p>
    <Program />
	</div>
</PageLayout>
