---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";
import Program from "@/components/program/Program";

const meta = {
	title: "Programme",
	description: "Détail du programme",
};
---

<PageLayout {meta} >
	<div class="space-y-6">
    <Program />
	</div>
</PageLayout>
