---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "Page introuvable",
	description: "La page n'a pas pu être trouvée",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Page introuvable</h1>
	<p class="mb-8">La page demandée est introuvable.</p>
</PageLayout>
