---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "Accueil",
  description: "Page d'accueil",
}
---

<PageLayout {meta} >
	<section>
		<h1 class="title mb-6">Présentation</h1>
		<p class="pb-4">
      .env&#123;2024&#125; est un cycle d'ateliers et de conférences
      dédié aux impacts environnementaux des pratiques numériques organisé
      par des étudiant.e.s d'Epitech Lyon.
		</p>
    <p class="pb-4">
      Il est ouvert, en priorité, à tou.s.tes les étudiant.e.s d'Epitech,
      avec des crédits bonus à la clé, mais également au public extérieur
      intéressé.
    </p>
    <p class="pb-4">
      Pour les participant.e.s extérieurs, les inscriptions
      sont également ouvertes sous réserve de la limite des
      places disponibles.
    </p>
	</section>
</PageLayout>
