@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .header-menu {
    @apply absolute -inset-x-4 top-14 hidden flex-col items-end
    text-blue dark:text-green
    font-semibold
    gap-y-4 rounded-md bg-bgColor/[.85] py-4
    shadow backdrop-blur
    group-[.menu-open]:z-50 group-[.menu-open]:flex
    sm:static sm:z-auto sm:-ms-4
    sm:mt-1 sm:flex sm:flex-row sm:items-center
    sm:divide-x-2 sm:divide-dashed sm:divide-blue
    sm:dark:divide-green
    sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none
    sm:backdrop-blur-none;
  }

  .header-wrapper {
    @apply relative mb-20
    flex items-center justify-around
    sm:ps-[4.5rem];
  }

  .header-sep {
    @apply;
  }

  .header-btn {
    @apply px-4 py-4 sm:py-0
    sm:hover:underline sm:hover:decoration-dashed
    sm:hover:decoration-2 sm:hover:underline-offset-8;
  }

  .mobile-header-btn {
    @apply
  }

  .header-title {
    @apply text-xl font-bold sm:text-2xl;
  }
}
