---
import Bibliography from "@/components/resources/Bibliography";
---

<h1 class="resources-title">Support des présentations</h1>
<p class="py-4">
  Vous pouvez retrouver ici les supports des présentations que les
  intervenant.e.s ont accepté de partager.
</p>

<h1 class="resources-title">Références</h1>
<Bibliography />
