<h2 class="subtitle">En ligne</h2>

<ul>
  <li>
    <p class="resource-entry">
      <a class="link" href="https://ecoinfo.cnrs.fr/">GDS EcoInfo</a> : collectif d'ingénieur.e.s et de chercheu.r.se.s
      de l'enseignement supérieur et de la recherche qui agissent pour réduire les impacts environnementaux
      des technologies de l'information et de la communcation
    </p>
  </li>
  <li>
    <a class="link" href="https://www.ecoindex.fr/">EcoIndex</a> : un outil permettant de mesurer l'empreinte d'un site
    web à partir de son URL. Il existe également un plugin pour Firefox et Chrome :
    <a class="link" href="https://github.com/chronikum/EcoSurfExtension">EcoSurf</a>
  </li>
<ul>
