---
const ENVNUM_EMAIL = import.meta.env.PUBLIC_ENVNUM_EMAIL;
---

<p class="py-2">
  Pour toute question ou difficulté lors de l'inscription, vous pouvez contacter
  les organisateurs à l'adresse mail :
  <a
    href={`mailto:${ENVNUM_EMAIL}`}
    class="email-contact"
  >
    {ENVNUM_EMAIL}
  </a>
</p>

