---
const ENVNUM_EMAIL = import.meta.env.PUBLIC_ENVNUM_EMAIL;
---

<p class="py-2">
  Pour toute question ou difficulté lors de l'inscription, merci de contacter
  les organisateurs à l'adresse mail :
  <a
    href={`mailto:${ENVNUM_EMAIL}`}
    class="email-contact"
  >
    registration@envnum.fr
  </a>
</p>

